<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idade</title>
</head>
<body>
    <center><h1>Idade</h1>
    <form action="/idadeResposta" method="post">
        <label for="Idade">Insira sua idade:</label>
        <input type="number" name="Idade">
        <input type="submit">
    </form><br>
    <a href="/"><button>Home</button></a></center>
</body>
</html>