<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
</head>
<body>
    <center><h1>Entre com suas notas:</h1>
        <form action="/mediaResultado" method="post">
            <label for="pratica">Nota da atividade prática:</label>
            <input type="number" step="0.1" name="pratica" max="10" min="0"><br><br>
            <label for="prova">Nota da prova:</label>
            <input type="number" step="0.1" name="prova" max="10" min="0"><br> <br>
            <label for="trabalho">Nota do trabalho teorico:</label>
            <input type="number" step="0.1" name="trabalho" max="10" min="0"><br><br>
            <input type="submit">
        </form><br>
    <a href="/"><button>Home</button></a></center>
</body>
</html>